/* Colors variables
   ========================================================================== */

/**
 * GRAY
 */
$colorGray1: #F8F7FA;
$colorGray2: #635E72;
$colorGray3: #E5E4E6;
$colorGray4: #83828F;
$colorGray5: #C1C0C8;
$colorGray6: #f6f8fa;


/**
 * PURPLE
 */
$colorPurple1: #4F46E5;
$colorPurple2: #6A62F1;
$colorPurple3: #8D88ED;


/**
 * RED
 */
$colorRed1: #ea5455;


/**
 * GREEN
 */
$colorGreen1: #61ae14;