/* App typography
   ========================================================================== */

.txt20{
    font-family: $interFont;
    font-size: 20px;
    font-weight: 600;
}
.txt17{
    font-family: $interFont;
    font-size: 17px;
    font-weight: 600;
}
.txt15{
    font-family: $ssProFont;
    font-size: 15px;
    font-weight: 400;
}